@charset "UTF-8";
/*공용 변수*/
/*공용 함수*/
@import url(../xeicon/xeicon.min.css);
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 250;
	src: local("Noto Sans Light"), local("NotoSans-thin"), url("../fonts/notokr-thin.eot");
	src: url("../fonts/notokr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-thin.woff") format("woff");
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url("../fonts/notokr-light.eot");
	src: url("../fonts/notokr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-light.woff") format("woff");
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 350;
	src: local("Noto Sans Light"), local("NotoSans-demilight"), url("../fonts/notokr-demilight.eot");
	src: url("../fonts/notokr-demilight.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-demilight.woff") format("woff");
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/notokr-regular.eot");
	src: url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("../fonts/notokr-medium.eot");
	src: url("../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/notokr-bold.eot");
	src: url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-bold.woff") format("woff");
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	vertical-align: top;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	line-height: 1.2;
	overflow-x: hidden;
	font-size: 1.4rem;
	font-family: 'Noto Sans KR', sans-serif !important;
	color: #666;
}

@media only screen and (max-width: 1169px) {
	body body.nav-on-left.overflow-hidden {
		overflow: hidden;
	}
}

.wrapper {
	position: relative;
	min-height: 100%;
}

/***** 공통 forms *****/
/* placeholder */
input::placeholder,
textarea::placeholder {
	color: #bfbfbf;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #bfbfbf;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #bfbfbf;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #bfbfbf;
}

/* input */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"] {
	border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="search"]::-ms-clear {
	/* removes close icon - IE */
	display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

textarea, select, input {
	font-family: 'Noto Sans KR', sans-serif !important;
}

textarea {
	border: 1px solid #e8e8e8;
	padding: 10px;
}

input.readonly {
	background-color: #f4f3f3;
	font-weight: 500;
	color: #999;
}

label {
	display: inline-block;
	margin: 0;
}

select {
	font-family: 'Noto Sans KR', sans-serif !important;
}

/* top 버튼 */
.cd-top {
	display: inline-block;
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(219, 76, 81, 0.8) url(../images/common/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
	transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
	transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-top--fade-out {
	opacity: .5;
}

.cd-top:hover {
	background-color: #db4c51;
	opacity: 1;
}

/* main */
.cd-img-replace {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.overflow-hidden {
	overflow: hidden;
}

.cd-main-content {
	height: 100%;
	min-height: 100%;
	position: relative;
	background-color: #f5f4e9;
	z-index: 2;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.cd-main-content.lateral-menu-is-open {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}

@media only screen and (min-width: 375px) {
	.cd-main-content.lateral-menu-is-open {
		-webkit-transform: translateX(-315px);
		-moz-transform: translateX(-315px);
		-ms-transform: translateX(-315px);
		-o-transform: translateX(-315px);
		transform: translateX(-315px);
	}
}

header.main-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 3;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

header.lateral-menu-is-open {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}

@media only screen and (min-width: 375px) {
	header.lateral-menu-is-open {
		-webkit-transform: translateX(-315px);
		-moz-transform: translateX(-315px);
		-ms-transform: translateX(-315px);
		-o-transform: translateX(-315px);
		transform: translateX(-315px);
	}
}

header.is-fixed {
	position: fixed;
}

.cme-main {
	width: 100%;
	height: 100%;
	min-height: 568px;
	background: url("../images/bg/main_top_bg.jpg") no-repeat center;
	background-size: cover;
}

.mid-contents {
	padding: 40px 25px;
	background: url("../images/common/mid_con_bg.png") no-repeat top center;
	background-size: 100%;
	clear: both;
}

.main-service em {
	display: block;
	font-size: 20px;
	text-align: center;
	color: white;
	line-height: 140%;
	margin-bottom: 30px;
}

.main-service em strong {
	display: block;
	color: #db4c51;
	font-weight: 500;
}

.main-service ul.service-list li {
	background-color: white;
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

.main-service ul.service-list li h3 {
	padding: 20px 20px 5px 20px;
	font-size: 24px;
	font-weight: 500;
	color: #db4c51;
}

.main-service ul.service-list li p {
	font-size: 14px;
	word-break: keep-all;
	padding: 0 20px 20px 20px;
}

.main-service ul.service-list li img {
	width: 100%;
}

.dl-menuwrapper {
	position: absolute;
	top: 13px;
	right: 63px;
	text-align: center;
}

.dl-menuwrapper a.dl-trigger {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid #db4c51;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

.dl-menuwrapper a.dl-trigger img {
	width: 20px;
	padding-top: 8px;
}

.dl-menuwrapper ul.dl-menu {
	position: absolute;
	top: 50px;
	right: 0;
	width: 80px;
	margin-right: -20px;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	transform: translateY(10px);
	-webkit-transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper ul.dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}

.dl-menuwrapper ul.dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0px);
	-wekit-transform: translateY(0px);
}

.dl-menuwrapper ul.dl-menu li {
	margin-top: 1px;
}

.dl-menuwrapper ul.dl-menu li a {
	display: block;
	padding: 8px;
	font-weight: 500;
	color: #db4c51;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

.cd-logo {
	display: block;
	float: left;
	width: 120px;
	margin: 15px 0 0 20px;
}

.cd-logo img {
	display: block;
	width: 100%;
}

#cd-menu-trigger {
	position: absolute;
	right: 11px;
	top: 13px;
	height: 100%;
	width: 40px;
	height: 40px;
	border: 2px solid #db4c51;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

#cd-menu-trigger .cd-menu-text {
	height: 100%;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 600;
	display: none;
}

#cd-menu-trigger .cd-menu-icon {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 14px;
	height: 2px;
	background-color: #db4c51;
}

#cd-menu-trigger .cd-menu-icon::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
	left: 0;
	bottom: 5px;
}

#cd-menu-trigger .cd-menu-icon:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
	left: 0;
}

#cd-menu-trigger .cd-menu-icon::after {
	top: 5px;
}

#cd-menu-trigger.is-clicked .cd-menu-icon {
	background-color: rgba(255, 255, 255, 0);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before {
	background-color: #db4c51;
	bottom: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::after {
	background-color: #db4c51;
	top: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#cd-lateral-nav {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 1;
	width: 260px;
	background-color: #f0f0f0;
	overflow-y: auto;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
	transition: transform .4s 0s, visibility 0s .4s;
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	-ms-transform: translateX(80px);
	-o-transform: translateX(80px);
	transform: translateX(80px);
}

#cd-lateral-nav:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 30px;
	background-color: #db4c51;
	right: 25px;
}

#cd-lateral-nav .cd-navigation {
	margin: 10% 0;
}

#cd-lateral-nav .cd-navigation a {
	display: block;
	line-height: 46px;
	padding: 0 16px 0 26px;
	color: #db4c51;
	font-size: 26px;
	font-weight: 500;
}

#cd-lateral-nav .sub-menu {
	padding: 0 10px 20px 15px;
	display: none;
}

#cd-lateral-nav .item-has-children > a {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
}

#cd-lateral-nav .item-has-children > a::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 1em;
	background: url("../img/cd-arrow.svg") no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav ul.btn-wrap {
	margin: 0 26px 12%;
	border: 1px solid #db4c51;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
}

#cd-lateral-nav ul.btn-wrap:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
}

#cd-lateral-nav ul.btn-wrap li {
	display: inline-block;
	float: left;
	width: 50%;
}

#cd-lateral-nav ul.btn-wrap li:first-child {
	border-right: 1px solid #db4c51;
}

#cd-lateral-nav ul.btn-wrap li a {
	display: block;
	text-align: center;
	line-height: 40px;
	color: #db4c51;
}

#cd-lateral-nav .info-wrap {
	padding: 0 26px;
}

#cd-lateral-nav .info-wrap h5 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
	color: #333;
}

#cd-lateral-nav .info-wrap p {
	word-break: keep-all;
}

#cd-lateral-nav .info-wrap ul {
	margin-top: 15px;
}

#cd-lateral-nav .info-wrap ul li {
	line-height: 160%;
}

#cd-lateral-nav .info-wrap ul li strong {
	font-weight: 500;
	color: #db4c51;
	margin-right: 5px;
}

#cd-lateral-nav p.copyright {
	display: block;
	position: absolute;
	bottom: 15px;
	left: 26px;
	font-size: 12px;
	color: #999;
}

@media only screen and (min-width: 375px) {
	#cd-lateral-nav {
		width: 315px;
	}
}

#cd-lateral-nav.lateral-menu-is-open {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
	transition: transform .4s 0s, visibility 0s 0s;
	-webkit-overflow-scrolling: touch;
}

/* popup */
.layer_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #666;
	z-index: 999;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.layer_popup .layerInner {
	display: table;
	width: 100%;
	height: calc(100% - 40px);
	margin: 0 auto;
	padding: 25px;
}

.layer_popup .layerInner .inner {
	display: table-cell;
	vertical-align: middle;
}

.layer_popup .layerInner .inner img {
	width: 100%;
}

.layer_popup a.popClose {
	display: inline-block;
	padding-right: 10px;
	color: white;
	padding: 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.layer_popup input {
	vertical-align: middle;
}

.layer_popup label {
	color: white;
	margin-right: 10px;
}

.layer_popup .layerFooter {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.layer_popup .layerFooter ul:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
}

.layer_popup .layerFooter ul li {
	display: inline-block;
	float: left;
	width: 50%;
}

.layer_popup .layerFooter ul li:first-child {
	border-right: 1px solid #e8e8e8;
}

.layer_popup .layerFooter ul li a {
	display: block;
	text-align: center;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 10px;
}

